Repository remarkablemark/vite-preact-ts-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(nvmrc): upgrade Node.js from 20 to 22
  .nvmrc
Due: none

docs(readme): improve grammar
  README.md
Due: prettier --write

refactor: add path alias
  README.md
  index.html
  src/components/App/App.tsx
  tsconfig.json
  vite.config.mts
Due: eslint --fix, prettier --write

chore(package): open browser in "start" script
  package.json
Due: prettier --write

ci(github): check success lint in mergify.yml
  .github/mergify.yml
Due: prettier --write

chore(license): update copyright year to 2025
  LICENSE
Due: none

chore(license): update copyright year to 2026
  LICENSE
Due: none

build: deploy 6c4f766145c08685078f08834853fc7fd15cab08 to gh-pages
  assets/index-BbiBi4dm.css
  assets/index-DN705HSP.js
  index.html
  vite.svg
Due: eslint --fix, prettier --write

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

ci(github): set permissions in workflows
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

build(vite): update vite.config.mts
  vite.config.mts
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --write: any of: *.{css,html,json,md,yml}
